<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>306826868375-dsgrqo62t3915uj713ntn9eom46bhjtf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.306826868375-dsgrqo62t3915uj713ntn9eom46bhjtf</string>
	<key>API_KEY</key>
	<string>AIzaSyC-NwJxZObo4usjhcdPHtpATqIw7WCBWiI</string>
	<key>GCM_SENDER_ID</key>
	<string>306826868375</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.asterfox.app</string>
	<key>PROJECT_ID</key>
	<string>asterfox</string>
	<key>STORAGE_BUCKET</key>
	<string>asterfox.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:306826868375:ios:f940baa2b42c83588a5bd2</string>
</dict>
</plist>